[2017-08-10 09:41] DronMDF opened #1 "Initial work"
Do something

[2017-08-10 10:12] DronMDF opened #2 "Second work"

[2017-08-10 11:17] DronMDF commented on #1
@0crat hello

[2017-08-10 11:20] 0crat commented on #1
I'm not managing this GitHub repository (dronmdf/telebot). You have to contact me in Slack first.

[2017-08-10 11:45] DronMDF commented on #1
@0crat  hello

[2017-08-10 12:12] DronMDF commented on #2
@0crat hello
where are you?

[2017-08-10 12:44] DronMDF opened #3 "Next new work"

[2017-08-10 12:57] DronMDF commented on #3
@0crat hello

[2017-08-10 12:57] 0crat commented on #3
@DronMDF Hey, what's up, how is it going?

[2017-08-10 13:00] DronMDF opened #4 "Do it again"

[2017-08-10 13:00] 0crat commented on #4
@dron please, pay attention to this issue

[2017-08-10 15:06] DronMDF commented on #1
@0crat  in

[2017-08-10 15:06] 0crat commented on #1
@DronMDF Job `gh:dronmdf/telebot#1` is in scope.

[2017-08-10 15:07] 0crat commented on #1
+15 points just awarded to @dronmdf, total is [+15](http://www.0crat.com/u/dronmdf).

[2017-08-10 15:33] DronMDF commented on #2
@0crat in

[2017-08-10 15:39] DronMDF commented on #2
@0crat in please.

[2017-08-10 15:40] 0crat commented on #2
@DronMDF Job `gh:dronmdf/telebot#2` is in scope.

[2017-08-10 15:40] 0crat commented on #2
+15 points just awarded to @dronmdf, total is [+30](http://www.0crat.com/u/dronmdf).

[2017-08-11 08:51] DronMDF commented on #2
@0crat out

[2017-08-11 08:52] 0crat commented on #2
@DronMDF Job `gh:dronmdf/telebot#2` is now out of scope.

[2017-08-11 08:52] 0crat commented on #2
@DronMDF I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-11 08:58] DronMDF commented on #2
@0crat skills
Хочу получить список команд. :)

[2017-08-11 09:06] DronMDF commented on #3
@0crat in

[2017-08-11 09:07] 0crat commented on #3
@DronMDF Job `gh:dronmdf/telebot#3` is in scope.

[2017-08-11 09:07] 0crat commented on #3
+15 points just awarded to @dronmdf, total is [+45](http://www.0crat.com/u/dronmdf).

[2017-08-11 09:08] DronMDF commented on #2
@0crat in

[2017-08-11 09:08] 0crat commented on #2
@DronMDF Job `gh:dronmdf/telebot#2` is in scope.

[2017-08-11 09:08] 0crat commented on #2
+15 points just awarded to @dronmdf, total is [+60](http://www.0crat.com/u/dronmdf).

[2017-08-15 12:51] DronMDF commented on #4
@0crat in

[2017-08-15 12:51] 0crat commented on #4
@DronMDF Job `gh:dronmdf/telebot#4` is in scope.

[2017-08-15 12:51] 0crat commented on #4
+15 points just awarded to @dronmdf, total is [+75](http://www.0crat.com/u/dronmdf).

[2017-08-16 16:45] 0crat commented on #1
Job `gh:dronmdf/telebot#1` assigned to @spark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-16 16:46] 0crat commented on #3
Job `gh:dronmdf/telebot#3` assigned to @spark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-16 16:46] 0crat commented on #2
Job `gh:dronmdf/telebot#2` assigned to @spark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-16 16:46] 0crat commented on #4
Job `gh:dronmdf/telebot#4` assigned to @spark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-16 18:55] roman901 commented on #4
@0crat resign

[2017-08-16 18:55] 0crat commented on #4
@roman901 I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-16 20:32] DronMDF commented on #4
@0crat resign

[2017-08-16 20:32] 0crat commented on #4
@DronMDF @spark resigned from `gh:dronmdf/telebot#4`, please stop working.

[2017-08-16 20:33] 0crat commented on #4
Job `gh:dronmdf/telebot#4` assigned to @spark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-16 20:55] DronMDF commented on #4
Спасибо, этот запрос считаем закрытым, и 0crat должен выдать +30 поинтов.

[2017-08-16 20:55] #4 closed

[2017-08-16 20:55] 0crat commented on #4
Job `gh:dronmdf/telebot#4` is now out of scope.

[2017-08-16 20:55] 0crat commented on #4
+30 points just awarded to @spark, total is [+30](http://www.0crat.com/u/spark).

[2017-08-16 21:08] DronMDF commented on #3
@0crat assign @tanika95

[2017-08-16 21:08] 0crat commented on #3
@DronMDF Job `gh:dronmdf/telebot#3` assigned to @tanika95, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @tanika95 is not a member of this project yet, but can request to join. @tanika95 check your [Zerocracy profile](http://www.0crat.com/u/tanika95) and follow the instructions.

[2017-08-16 21:09] DronMDF commented on #3
@0crat assign @tanyaerm

[2017-08-18 09:10] roman901 commented on #2
@0crat resign

[2017-08-18 09:10] 0crat commented on #2
@roman901 I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-21 10:34] roman901 commented on #2
@0crat refuse

[2017-08-21 10:34] 0crat commented on #2
@roman901 I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-21 10:51] DronMDF commented on #2
@0crat refuse

Давай я попробую, но странно. Вообще это должен делать DEV.

[2017-08-31 20:02] DronMDF commented on #1
@0crat refuse

[2017-08-31 20:02] 0crat commented on #1
@DronMDF @spark resigned from `gh:dronmdf/telebot#1`, please stop working.

[2017-08-31 20:05] 0crat commented on #1
Job `gh:dronmdf/telebot#1` assigned to @spark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-31 20:12] roman901 commented on #1
@0crat refuse

[2017-08-31 20:12] 0crat commented on #1
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2017-09-01 16:01] roman901 commented on #1
@0crat refuse

[2017-09-01 16:01] 0crat commented on #1
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2017-09-01 19:21] roman901 commented on #1
@0crat refuse

[2017-09-01 19:21] 0crat commented on #1
@roman901 Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "roman901").

[2017-09-18 09:05] #2 closed

[2017-09-18 09:05] #3 closed

[2017-09-18 09:10] 0crat commented on #3
Job `gh:dronmdf/telebot#3` is now out of scope.

[2017-09-18 09:12] 0crat commented on #2
Job `gh:dronmdf/telebot#2` is now out of scope.

[2017-09-18 09:18] 0crat commented on #3
+30 points just awarded to @tanika95, total is [+45](http://www.0crat.com/u/tanika95).

[2017-09-18 09:18] 0crat commented on #2
+30 points just awarded to @spark, total is [+60](http://www.0crat.com/u/spark).

[2017-09-19 19:47] DronMDF opened #6 "Написать сервер"

[2017-09-19 19:48] DronMDF opened #7 "Сборка под cmake"

[2017-09-19 19:48] DronMDF opened #8 "setup.py для разворачивания приложения"

[2017-09-19 19:53] DronMDF opened #9 "Непрерывная интеграция с tracis.ci"
Сервер непрерывной интеграции https://travis-ci.org/
К проекту он уже подключен.

[2017-09-19 19:54] DronMDF opened #10 "Взаимодействие с сервером telegram"

[2017-09-19 19:55] DronMDF opened #11 "Список анализируемой информации"
Необходимо описать это в отдельном md файле.

[2017-09-19 19:59] DronMDF opened #12 "Интеграция с codecov"
Может быть реализована после #9

[2017-09-19 19:59] DronMDF commented on #6
@0crat in

[2017-09-19 19:59] 0crat commented on #6
@DronMDF Job `gh:dronmdf/telebot#6` is in scope.

[2017-09-19 19:59] 0crat commented on #6
+15 points just awarded to @dronmdf, total is [+90](http://www.0crat.com/u/dronmdf).

[2017-09-19 19:59] DronMDF commented on #7
@0crat in

[2017-09-19 20:00] 0crat commented on #7
@DronMDF Job `gh:dronmdf/telebot#7` is in scope.

[2017-09-19 20:00] DronMDF commented on #8
@0crat in

[2017-09-19 20:00] 0crat commented on #7
+15 points just awarded to @dronmdf, total is [+105](http://www.0crat.com/u/dronmdf).

[2017-09-19 20:00] 0crat commented on #8
@DronMDF Job `gh:dronmdf/telebot#8` is in scope.

[2017-09-19 20:00] 0crat commented on #8
+15 points just awarded to @dronmdf, total is [+120](http://www.0crat.com/u/dronmdf).

[2017-09-19 20:00] DronMDF commented on #9
@0crat in

[2017-09-19 20:00] 0crat commented on #9
@DronMDF Job `gh:dronmdf/telebot#9` is in scope.

[2017-09-19 20:00] 0crat commented on #9
+15 points just awarded to @dronmdf, total is [+135](http://www.0crat.com/u/dronmdf).

[2017-09-19 20:01] DronMDF commented on #10
@0crat in

[2017-09-19 20:01] 0crat commented on #10
@DronMDF Job `gh:dronmdf/telebot#10` is in scope.

[2017-09-19 20:01] DronMDF commented on #11
@0crat in

[2017-09-19 20:01] 0crat commented on #10
+15 points just awarded to @dronmdf, total is [+150](http://www.0crat.com/u/dronmdf).

[2017-09-19 20:01] 0crat commented on #11
@DronMDF Job `gh:dronmdf/telebot#11` is in scope.

[2017-09-19 20:01] 0crat commented on #11
+15 points just awarded to @dronmdf, total is [+165](http://www.0crat.com/u/dronmdf).

[2017-09-19 20:02] DronMDF commented on #12
@0crat in

[2017-09-19 20:02] 0crat commented on #12
@DronMDF Job `gh:dronmdf/telebot#12` is in scope.

[2017-09-19 20:02] 0crat commented on #12
+15 points just awarded to @dronmdf, total is [+180](http://www.0crat.com/u/dronmdf).

[2017-09-19 20:03] DronMDF commented on #1
@0crat out

[2017-09-19 20:03] 0crat commented on #1
@DronMDF Job `gh:dronmdf/telebot#1` is now out of scope.

[2017-09-19 20:03] 0crat commented on #1
+30 points just awarded to @spark, total is [+90](http://www.0crat.com/u/spark).

[2017-09-19 20:05] DronMDF opened #13 "Список команд бота"
Нужно создать файл md, в котором будет хранится описание команд.

[2017-09-19 20:05] DronMDF commented on #13
@0crat in

[2017-09-19 20:06] 0crat commented on #13
@DronMDF Job `gh:dronmdf/telebot#13` is in scope.

[2017-09-19 20:06] 0crat commented on #13
+15 points just awarded to @dronmdf, total is [+195](http://www.0crat.com/u/dronmdf).

[2017-09-27 09:40] DronMDF commented on #7
@0crat out

[2017-09-27 09:41] 0crat commented on #7
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 07:23] DronMDF commented on #7
@0crat out

[2017-09-28 07:23] 0crat commented on #7
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 14:56] DronMDF commented on #7
@0crat out

[2017-09-28 15:39] 0crat commented on #7
@DronMDF I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 15:39] 0crat commented on #7
@DronMDF Job `gh:dronmdf/telebot#7` is now out of scope.

[2017-09-28 19:52] DronMDF commented on #6
@0crat refuse

[2017-09-28 20:01] DronMDF commented on #9
@0crat in

[2017-09-29 00:25] 0crat commented on #9
@DronMDF Oops! Job `gh:dronmdf/telebot#9` is already in scope

[2017-09-29 00:25] 0crat commented on #9
@DronMDF I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 00:25] 0crat commented on #6
@DronMDF Oops! Job `gh:dronmdf/telebot#6` is not assigned, can't get performer

[2017-09-29 08:25] DronMDF commented on #9
@0crat in

[2017-09-29 10:25] 0crat commented on #9
@DronMDF Oops! Job `gh:dronmdf/telebot#9` is already in scope

[2017-09-29 10:25] 0crat commented on #9
@DronMDF I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 12:25] DronMDF commented on #6
@0crat out

[2017-09-29 12:56] 0crat commented on #6
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 14:37] DronMDF commented on #9
Если посмотреть на список коммитов, там стоят красные кресты.
А должны стоять зеленые галочки.
fix it.

[2017-09-29 14:38] #1 closed

[2017-09-29 14:38] 0crat commented on #1
Oops! Job `gh:dronmdf/telebot#1` was not in scope

[2017-09-29 14:38] DronMDF opened #15 "Скрипт для запуска бота в качестве системного сервиса"

[2017-09-29 14:39] DronMDF commented on #15
@0crat in

[2017-09-29 14:39] 0crat commented on #15
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 20:36] 0crat commented on #6
Job `gh:dronmdf/telebot#6` assigned to @paddox, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:36] 0crat commented on #8
Job `gh:dronmdf/telebot#8` assigned to @paddox, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:36] 0crat commented on #9
Job `gh:dronmdf/telebot#9` assigned to @paddox, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:36] 0crat commented on #10
Job `gh:dronmdf/telebot#10` assigned to @paddox, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:36] 0crat commented on #11
Job `gh:dronmdf/telebot#11` assigned to @paddox, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:36] 0crat commented on #12
Job `gh:dronmdf/telebot#12` assigned to @paddox, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:36] 0crat commented on #13
Job `gh:dronmdf/telebot#13` assigned to @paddox, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:44] DronMDF commented on #6
@0crat refuse

[2017-09-29 20:45] 0crat commented on #6
@DronMDF @paddox resigned from `gh:dronmdf/telebot#6`, please stop working.

[2017-09-29 20:53] 0crat commented on #6
Job `gh:dronmdf/telebot#6` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 20:54] DronMDF commented on #15
@0crat in

[2017-09-29 20:54] 0crat commented on #15
@DronMDF Job `gh:dronmdf/telebot#15` is in scope.

[2017-09-29 20:54] 0crat commented on #15
+15 points just awarded to @dronmdf, total is [+240](http://www.0crat.com/u/dronmdf).

[2017-09-29 20:54] DronMDF commented on #8
@0crat refuse

[2017-09-29 20:54] 0crat commented on #8
@DronMDF @paddox resigned from `gh:dronmdf/telebot#8`, please stop working.

[2017-09-29 21:04] 0crat commented on #8
Job `gh:dronmdf/telebot#8` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-29 21:42] 0crat commented on #15
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-30 04:23] DronMDF commented on #9
@0crat refuse

[2017-09-30 04:25] DronMDF commented on #11
@0crat refuse

[2017-09-30 07:47] 0crat commented on #11
@DronMDF @paddox resigned from `gh:dronmdf/telebot#11`, please stop working.

[2017-09-30 07:47] 0crat commented on #9
@DronMDF @paddox resigned from `gh:dronmdf/telebot#9`, please stop working.

[2017-09-30 07:53] 0crat commented on #9
Job `gh:dronmdf/telebot#9` assigned to @talykovnikita, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 08:03] 0crat commented on #11
Job `gh:dronmdf/telebot#11` assigned to @talykovnikita, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 13:31] DronMDF commented on #8
@0crat refuse

[2017-09-30 13:31] 0crat commented on #8
@DronMDF @sminux resigned from `gh:dronmdf/telebot#8`, please stop working.

[2017-09-30 13:33] 0crat commented on #8
Job `gh:dronmdf/telebot#8` assigned to @drakonda, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 13:34] DronMDF commented on #11
@0crat refuse

[2017-09-30 13:42] 0crat commented on #11
@DronMDF @talykovnikita resigned from `gh:dronmdf/telebot#11`, please stop working.

[2017-09-30 13:43] 0crat commented on #11
Job `gh:dronmdf/telebot#11` assigned to @drakonda, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 13:45] DronMDF commented on #11
@0crat refuse

[2017-09-30 13:46] 0crat commented on #11
@DronMDF @drakonda resigned from `gh:dronmdf/telebot#11`, please stop working.

[2017-09-30 14:04] 0crat commented on #11
Job `gh:dronmdf/telebot#11` assigned to @kirill125, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 14:09] DronMDF commented on #12
@0crat refuse

[2017-09-30 14:10] 0crat commented on #12
@DronMDF @paddox resigned from `gh:dronmdf/telebot#12`, please stop working.

[2017-09-30 14:13] 0crat commented on #12
Job `gh:dronmdf/telebot#12` assigned to @kirill125, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 14:13] DronMDF commented on #12
@0crat refuse

[2017-09-30 14:13] 0crat commented on #12
@DronMDF @kirill125 resigned from `gh:dronmdf/telebot#12`, please stop working.

[2017-09-30 14:43] DronMDF commented on #13
@0crat  refuse

[2017-09-30 14:43] 0crat commented on #13
@DronMDF @paddox resigned from `gh:dronmdf/telebot#13`, please stop working.

[2017-09-30 14:52] 0crat commented on #12
Job `gh:dronmdf/telebot#12` assigned to @alexandersamrega, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 14:53] 0crat commented on #13
Job `gh:dronmdf/telebot#13` assigned to @chniks, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 15:41] DronMDF opened #16 "Распарсить xml вывод radon tools"
Необходимо, чтобы в случае превышения complexity скрипт завершался с кодом возврата  не ноль.
Вызывать его будет удобно через pipe.
radare -cc -xml | script

[2017-10-02 15:41] DronMDF commented on #16
@0crat in

[2017-10-02 15:42] 0crat commented on #16
@DronMDF Job `gh:dronmdf/telebot#16` is in scope.

[2017-10-02 15:42] 0crat commented on #16
+15 points just awarded to @dronmdf, total is [+270](http://www.0crat.com/u/dronmdf).

[2017-10-02 15:44] #7 closed

[2017-10-02 15:44] 0crat commented on #7
Oops! Job `gh:dronmdf/telebot#7` was not in scope

[2017-10-02 15:51] 0crat commented on #16
Job `gh:dronmdf/telebot#16` assigned to @olejka, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 18:50] DronMDF opened #17 "Скрипт для проверки стиля."
Должен изнутри  запускать pep8 на все файлы в репозитории.
Если pep8 находит ошибки - скрипт должен возвращать код возврата отличный от 0.

[2017-10-02 18:50] DronMDF commented on #17
@0crat in

[2017-10-02 18:51] 0crat commented on #17
@DronMDF Job `gh:dronmdf/telebot#17` is in scope.

[2017-10-02 18:51] 0crat commented on #17
+15 points just awarded to @dronmdf, total is [+285](http://www.0crat.com/u/dronmdf).

[2017-10-02 18:53] DronMDF opened #18 "Скрипт для юниттестирования."
В питоновском модуле unittest если test discovery.
Для того чтобы он обнаружил все тесты - нужно запускать его со специальными параметрами.
Чтобы эти параметры не запоминать - нужен скрипт, который будет содержать все это внутри.
В случае нарушения тестов - скрипт должен вернуть код возврата отличный от 0

[2017-10-02 18:54] DronMDF commented on #18
@0crat in

[2017-10-02 18:54] 0crat commented on #18
@DronMDF Job `gh:dronmdf/telebot#18` is in scope.

[2017-10-02 18:54] 0crat commented on #18
+15 points just awarded to @dronmdf, total is [+300](http://www.0crat.com/u/dronmdf).

[2017-10-02 19:01] DronMDF opened #19 "Необходима инструкция по установке сервера"
INSTALL.md

[2017-10-02 19:01] DronMDF commented on #19
@0crat in

[2017-10-02 19:01] 0crat commented on #19
@DronMDF Job `gh:dronmdf/telebot#19` is in scope.

[2017-10-02 19:01] 0crat commented on #19
+15 points just awarded to @dronmdf, total is [+315](http://www.0crat.com/u/dronmdf).

[2017-10-02 19:09] 0crat commented on #17
Job `gh:dronmdf/telebot#17` assigned to @makar93, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 19:19] 0crat commented on #18
Job `gh:dronmdf/telebot#18` assigned to @makar93, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 19:19] 0crat commented on #19
Job `gh:dronmdf/telebot#19` assigned to @makar93, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 19:24] DronMDF opened #20 "Найти web-приложение, которое интересно мониторить."
Для тестовой эксплуатации будет развернут сервер (VDS)
На котором можно будет поднять что нибудь LAMPовое...
Типа honeypot, куда будет установле сервер для наблюдения.

[2017-10-02 19:25] DronMDF commented on #20
@0crat in

[2017-10-02 19:25] 0crat commented on #20
@DronMDF Job `gh:dronmdf/telebot#20` is in scope.

[2017-10-02 19:25] 0crat commented on #20
+15 points just awarded to @dronmdf, total is [+330](http://www.0crat.com/u/dronmdf).

[2017-10-02 19:26] DronMDF commented on #18
@Makar93 Ну вот, теперь у тебя сразу три задачи. :)
@0crat refuse

[2017-10-02 19:30] DronMDF commented on #19
@0crat refuse

[2017-10-02 19:30] 0crat commented on #19
@DronMDF @makar93 resigned from `gh:dronmdf/telebot#19`, please stop working.

[2017-10-02 19:32] DronMDF commented on #18
@0crat refuse

[2017-10-02 19:32] 0crat commented on #18
@DronMDF @makar93 resigned from `gh:dronmdf/telebot#18`, please stop working.

[2017-10-02 19:38] DronMDF commented on #6
Поясню: Это должен быть минимальный запускаемый питоновский бинарник.
Чтобы можно было с консоли тыркнуть ./xxxx и это прошло бы без ошибок.
Внутри нужно написать todo, что делать дальше.
Вот тут есть примеры: http://www.yegor256.com/2009/03/04/pdd.html

[2017-10-02 19:39] 0crat commented on #18
Job `gh:dronmdf/telebot#18` assigned to @invisea, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 19:39] 0crat commented on #19
Job `gh:dronmdf/telebot#19` assigned to @invisea, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 19:40] 0crat commented on #20
Job `gh:dronmdf/telebot#20` assigned to @invisea, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 19:42] DronMDF commented on #8
Поясню, Содержимое скрипта не так важно,
Так что можно взять из докумментации и скопировать.
Поскольку у нас пока нет кода - мы всеравно не будем его запускать.
Все сложности устраним позже.

[2017-10-02 19:42] DronMDF commented on #19
@0crat refuse

[2017-10-02 19:54] DronMDF commented on #9
Если посмотреть в список коммитов, то там сейчас стоят красные кресты.
И по ссылке можно обнаружить подробности.
Которые заключаются в том, что travis не может обнаружить файл .travis.ci в корне проекта.
Если бегло погуглить, то на сайте tracis в докумментации можно найти примеры для питоновских проектов.

[2017-10-02 19:57] DronMDF commented on #11
Нужно написать md файлик... что-то типа прообраза докумментации. (Может быть FEATURES.md)
Где написать буквально несколько строк о том, какие у нас есть варианты в плане анализа.

[2017-10-02 20:00] DronMDF commented on #10
Нужно написать небольшой документик,
Где кратко описать - как получить сообщения с сервера. url, формат запроса, формат ответа.
То же самое - как послать сообщение.

[2017-10-02 20:02] DronMDF commented on #12
Это наверное самое сложное, потому, что не хватает фундамента.
вообще это надо встроить в скрипт юниттестирования, который заодно соберет coverage информацию. Которую потом можно будет залить на сервер codecov и это даст дополнительные метрики для проекта.

Но пока можно упростить эту задачу до того, чтобы создать в корне проекта конфигурацию для codecov. (можешь подсмотреть в github.com/DronMDF/g

[2017-10-02 20:07] DronMDF commented on #13
Здесь нужно создать файл (возможно USAGE.md)
После этого поставить себя на место администратора.
И подумать что ты хотел бы спросить у сервера?
Опиши это в файлике.

[2017-10-02 20:14] DronMDF commented on #15
@0crat in

[2017-10-02 20:15] 0crat commented on #15
@DronMDF Oops! Job `gh:dronmdf/telebot#15` is already in scope

[2017-10-02 20:18] DronMDF commented on #16
Хотя эту задачу я поставил слишком конкретно.
Основная цель - мне нужно чтобы при определенных значениях complexity происходил выход по ошибке. Возможно radon умеет это и без посторонней помощи?

[2017-10-02 20:28] DronMDF commented on #20
@0crat refuse

[2017-10-02 20:28] 0crat commented on #20
@DronMDF @invisea resigned from `gh:dronmdf/telebot#20`, please stop working.

[2017-10-02 20:37] 0crat commented on #20
Job `gh:dronmdf/telebot#20` assigned to @hayfay, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 20:39] DronMDF commented on #19
@0crat refuse

[2017-10-02 20:39] 0crat commented on #19
@DronMDF @invisea resigned from `gh:dronmdf/telebot#19`, please stop working.

[2017-10-02 20:45] 0crat commented on #19
Job `gh:dronmdf/telebot#19` assigned to @hayfay, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 20:46] DronMDF commented on #19
@0crat refuse

[2017-10-02 20:46] 0crat commented on #19
@DronMDF @hayfay resigned from `gh:dronmdf/telebot#19`, please stop working.

[2017-10-02 21:07] 0crat commented on #19
Job `gh:dronmdf/telebot#19` assigned to @barbaragrape, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-02 21:27] asamrega commented on #12
Здравствуйте!

Хотел Вас предупредить, что у меня не получится, к сожалению, выполнять задания, поскольку не хватает времени.

Уведомляю Вас, чтобы оно не висело без дела.

[2017-10-03 13:43] DronMDF opened #21 "Написать источник событий (размер диска)"
Интерфейс следующий:

[code]

[2017-10-03 13:43] DronMDF commented on #21
@0crat in

[2017-10-03 13:44] 0crat commented on #21
@DronMDF Job `gh:dronmdf/telebot#21` is in scope.

[2017-10-03 13:44] 0crat commented on #21
+15 points just awarded to @dronmdf, total is [+345](http://www.0crat.com/u/dronmdf).

[2017-10-03 14:05] 0crat commented on #21
Job `gh:dronmdf/telebot#21` assigned to @1640max, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-03 14:10] DronMDF opened #22 "Написать источник событий (Время работы системы)"
Интерфейс следующий:

[code]

[2017-10-03 14:10] DronMDF commented on #22
@0crat in

[2017-10-03 14:10] 0crat commented on #22
@DronMDF Job `gh:dronmdf/telebot#22` is in scope.

[2017-10-03 14:10] 0crat commented on #22
+15 points just awarded to @dronmdf, total is [+360](http://www.0crat.com/u/dronmdf).

[2017-10-03 14:24] 0crat commented on #22
Job `gh:dronmdf/telebot#22` assigned to @meladark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-03 14:27] DronMDF opened #23 "Написать источник событий (syslog)"
Интерфейс следующий:

[code]

Глубоко зарываться не надо, можно ограничиться заглушкой.

[2017-10-03 14:27] DronMDF commented on #23
@0crat in

[2017-10-03 14:28] 0crat commented on #23
@DronMDF Job `gh:dronmdf/telebot#23` is in scope.

[2017-10-03 14:28] 0crat commented on #23
+15 points just awarded to @dronmdf, total is [+375](http://www.0crat.com/u/dronmdf).

[2017-10-03 14:44] 0crat commented on #23
Job `gh:dronmdf/telebot#23` assigned to @ruslangv, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-03 14:47] DronMDF opened #24 "Написать источник событий (Загрузка CPU)"
Интерфейс следующий:

[code]

Глубоко зарываться не надо, можно ограничиться заглушкой.

[2017-10-03 14:47] DronMDF commented on #24
@0crat in

[2017-10-03 14:48] 0crat commented on #24
@DronMDF Job `gh:dronmdf/telebot#24` is in scope.

[2017-10-03 14:48] 0crat commented on #24
+15 points just awarded to @dronmdf, total is [+390](http://www.0crat.com/u/dronmdf).

[2017-10-03 15:06] 0crat commented on #24
Job `gh:dronmdf/telebot#24` assigned to @yuran8shon, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-04 08:32] IlyaMakarov93 commented on #18
Здравствуйте, Андрей!

Спасибо Вам за задачи, до понедельника постараюсь их сделать :)

С уважением к Вам и Вашему делу, Илья Макаров.

[2017-10-04 08:32] 0crat commented on #18
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-09 07:00] DronMDF commented on #16
Я принял PR, значит задача закрыта.
Хотя по хорошему - тебе стоило превратить непонимание в новые задачи.
Но не все сразу. :)

[2017-10-09 07:00] #16 closed

[2017-10-09 07:28] DronMDF commented on #16
@0crat Где деньги? Я не понял.

[2017-10-09 07:33] 0crat commented on #16
Job `gh:dronmdf/telebot#16` is now out of scope.

[2017-10-09 07:33] 0crat commented on #16
Order was successfully finished: +30 points just awarded to @olejka, total is [+75](http://www.0crat.com/u/olejka).

[2017-10-09 07:33] DronMDF commented on #16
@0crat То-то же.. :)

[2017-10-09 07:48] 0crat commented on #16
@DronMDF Can't understand "Где", try one of these:
  * `assign` Assign a performer to this issue
  * `hello` Just say hello
  * `in` Register this issue in scope (WBS)
  * `out` Remove this issue from scope (WBS)
  * `resign` Resign from this issue
  * `version` Print current version of the bot

[2017-10-09 08:00] 0crat commented on #16
@DronMDF Can't understand "То-то", try one of these:
  * `assign` Assign a performer to this issue
  * `hello` Just say hello
  * `in` Register this issue in scope (WBS)
  * `out` Remove this issue from scope (WBS)
  * `resign` Resign from this issue
  * `version` Print current version of the bot

[2017-10-09 10:07] #24 closed

[2017-10-09 10:38] 0crat commented on #24
Job `gh:dronmdf/telebot#24` is now out of scope.

[2017-10-09 10:38] 0crat commented on #24
Order was successfully finished: +30 points just awarded to @yuran8shon, total is [+45](http://www.0crat.com/u/yuran8shon).

[2017-10-09 14:40] DronMDF commented on #6
ok

[2017-10-09 14:40] #6 closed

[2017-10-09 14:41] 0crat commented on #6
Job `gh:dronmdf/telebot#6` is now out of scope.

[2017-10-09 14:41] 0crat commented on #6
Order was successfully finished: +30 points just awarded to @sminux, total is [+60](http://www.0crat.com/u/sminux).

[2017-10-09 14:45] #15 closed

[2017-10-09 14:48] 0crat commented on #15
Job `gh:dronmdf/telebot#15` is now out of scope.

[2017-10-09 14:49] 0crat commented on #15
Order was successfully finished: +30 points just awarded to @pavelonex, total is [+45](http://www.0crat.com/u/pavelonex).

[2017-10-09 19:36] DronMDF opened #35 "Рыба для сервера"
Я решил так, что я распишу классы, но имплементацию делать не буду.
Это немного упростит задачу разработчикам. И это хорошо.

[2017-10-09 20:12] 0pdd opened #36 "config.py:6-9: А давайте пока для простоты передадим..."
The puzzle `35-88e76001` (from #35) in [`tb/config.py`](https://github.com/DronMDF/telebot/blob/master/tb/config.py) (lines 6-9) has to be resolved: "А давайте пока для простоты передадим токен в параметрах командной строки, пусть будет первым параметром но запрос нужно делать по ключу. Ключ для токена будет 'telegram.token' А список аргументов командной строки содержится в self.args"

The puzzle

[2017-10-09 20:12] 0pdd opened #37 "telegram.py:7-11: Нужно обратиться к серверу telegram и..."
The puzzle `35-519019b8` (from #35) in [`tb/sources/telegram.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/telegram.py) (lines 7-11) has to be resolved: "Нужно обратиться к серверу telegram и вытащить оттуда свежие сообщения. Для этого нужно использовать https://python-telegram-bot.org/ Но пример неправильный, поскольку нам нужно только забрать сообщения с сервера. Что-то типа это

[2017-10-09 20:12] 0pdd opened #38 "application.py:12-14: Реализовать в Application.run()..."
The puzzle `35-d7be7cdc` (from #35) in [`tb/application.py`](https://github.com/DronMDF/telebot/blob/master/tb/application.py) (lines 12-14) has to be resolved: "Реализовать в Application.run() основной цикл приложения Этот цикл должен вытягивать события из self.source и отправлять в self.storage, Интерфейсы описаны в файле types.py, нарушать нельзя."

The puzzle was created by Andrey Valyaev on 0

[2017-10-09 20:12] 0pdd opened #39 "telegram.py:6-10: Нужно обратиться к серверу telegram и..."
The puzzle `35-fca646b9` (from #35) in [`tb/storage/telegram.py`](https://github.com/DronMDF/telebot/blob/master/tb/storage/telegram.py) (lines 6-10) has to be resolved: "Нужно обратиться к серверу telegram и залить туда. Для этого нужно использовать https://python-telegram-bot.org/ Но пример неправильный, поскольку нам нужно только отправить сообщения на сервер. что-то типа этого: telegram.Bot.se

[2017-10-09 20:12] 0crat commented on #36
@dronmdf please, pay attention to this issue

[2017-10-09 20:12] 0crat commented on #37
@dronmdf please, pay attention to this issue

[2017-10-09 20:12] 0crat commented on #38
@dronmdf please, pay attention to this issue

[2017-10-09 20:12] 0crat commented on #39
@dronmdf please, pay attention to this issue

[2017-10-09 20:14] DronMDF commented on #38
@0crat in

[2017-10-09 20:14] #35 closed

[2017-10-09 20:18] DronMDF commented on #38
Интерфейсы описаны в файле TYPES.md, потому что тянуть их в модули оказалось достаточно сложно. циклические зависимости по модулям. Поэтому я их просто описал.

[2017-10-09 20:37] 0crat commented on #38
@DronMDF Job `gh:dronmdf/telebot#38` is in scope.

[2017-10-09 20:37] 0crat commented on #35
Oops! Job `gh:dronmdf/telebot#35` was not in scope

[2017-10-09 21:11] 0crat commented on #38
Job `gh:dronmdf/telebot#38` assigned to @pavelonex, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 03:58] DronMDF commented on #36
@0crat in

[2017-10-10 04:27] 0crat commented on #36
@DronMDF Job `gh:dronmdf/telebot#36` is in scope.

[2017-10-10 05:02] 0crat commented on #36
Job `gh:dronmdf/telebot#36` assigned to @olejka, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 06:27] DronMDF commented on #37
@0crat in

[2017-10-10 06:55] 0crat commented on #37
@DronMDF Job `gh:dronmdf/telebot#37` is in scope.

[2017-10-10 07:01] 0crat commented on #37
Job `gh:dronmdf/telebot#37` assigned to @barbaragrape, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 07:03] DronMDF commented on #39
@0crat in

[2017-10-10 07:36] 0crat commented on #39
@DronMDF Job `gh:dronmdf/telebot#39` is in scope.

[2017-10-10 08:08] 0crat commented on #39
Job `gh:dronmdf/telebot#39` assigned to @1640max, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 11:05] DronMDF opened #40 "Расширить список источников информации"

[2017-10-10 11:15] 0pdd opened #41 "hdd.py:3-4: Необходимо определить размер..."
The puzzle `40-c7c972e3` (from #40) in [`tb/sources/hdd.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/hdd.py) (lines 3-4) has to be resolved: "Необходимо определить размер свободного места на диске. Если размер свободного места меньше чем 10% от диска - сгенерировать событие."

The puzzle was created by Andrey Valyaev on 10-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any

[2017-10-10 11:15] 0crat commented on #41
@dronmdf please, pay attention to this issue

[2017-10-10 11:20] #40 closed

[2017-10-10 11:21] DronMDF commented on #41
@0crat in

[2017-10-10 11:30] 0crat commented on #40
Oops! Job `gh:dronmdf/telebot#40` was not in scope

[2017-10-10 11:30] 0crat commented on #41
@DronMDF Job `gh:dronmdf/telebot#41` is in scope.

[2017-10-10 13:42] 0crat commented on #41
Job `gh:dronmdf/telebot#41` assigned to @meladark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 15:00] DronMDF commented on #9
@0crat assign DronMDF

[2017-10-10 15:26] 0crat commented on #9
@DronMDF Argument "DronMDF" doesn't match regex "me|@[a-zA-Z0-9\-]+"

[2017-10-10 15:28] DronMDF commented on #9
@0crat assign dronmdf

[2017-10-10 15:28] DronMDF commented on #9
@0crat assign me

[2017-10-10 15:52] 0crat commented on #9
@DronMDF Argument "dronmdf" doesn't match regex "me|@[a-zA-Z0-9\-]+"

[2017-10-10 16:28] 0crat commented on #9
@DronMDF Job `gh:dronmdf/telebot#9` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 16:51] 0crat commented on #9
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-10 16:51] 0crat commented on #9
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-10 16:51] 0crat commented on #9
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+390](http://www.0crat.com/u/dronmdf).

[2017-10-10 18:57] 0pdd opened #42 "cpu.py:3-4: Необходимо определить загрузку..."
The puzzle `40-5225b520` (from #40) in [`tb/sources/cpu.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/cpu.py) (lines 3-4) has to be resolved: "Необходимо определить загрузку системы за последнюю минуту. Если загрузка превышает указанный предел - сгенерировать событие."

The puzzle was created by Andrey Valyaev on 10-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any technic

[2017-10-10 18:57] 0pdd opened #43 "syslog.py:3-5: Необходимо получить список событий,..."
The puzzle `40-b7de133b` (from #40) in [`tb/sources/syslog.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/syslog.py) (lines 3-5) has to be resolved: "Необходимо получить список событий, которые возникли с момента последнего обращения. Не знаю точно, что мы хотим там увидеть, Давайте для начала найдет все события от systemd и вернем их в виде событий."

The puzzle was created by And

[2017-10-10 18:57] 0crat commented on #42
@dronmdf please, pay attention to this issue

[2017-10-10 18:57] 0crat commented on #43
@dronmdf please, pay attention to this issue

[2017-10-10 19:00] DronMDF commented on #9
Готово.

[2017-10-10 19:00] #9 closed

[2017-10-10 19:01] 0crat commented on #9
Job `gh:dronmdf/telebot#9` is now out of scope.

[2017-10-10 19:02] 0crat commented on #9
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+420](http://www.0crat.com/u/dronmdf).

[2017-10-10 19:10] DronMDF commented on #8
@0crat assign me

[2017-10-10 19:12] DronMDF commented on #43
@0crat in

[2017-10-10 19:12] 0crat commented on #43
@DronMDF Job `gh:dronmdf/telebot#43` is in scope.

[2017-10-10 19:12] 0crat commented on #8
@DronMDF Job `gh:dronmdf/telebot#8` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 19:13] 0crat commented on #8
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-10 19:13] 0crat commented on #8
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-10 19:13] 0crat commented on #8
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+415](http://www.0crat.com/u/dronmdf).

[2017-10-10 19:50] 0crat commented on #43
Job `gh:dronmdf/telebot#43` assigned to @ruslangv, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 19:54] DronMDF commented on #42
@0crat in

[2017-10-10 19:59] 0crat commented on #42
@DronMDF Job `gh:dronmdf/telebot#42` is in scope.

[2017-10-10 20:45] DronMDF opened #44 "Запуск тестов из setup.py"
Вот здесь есть инструкция, как можно кастомизировать setup.py
https://seasonofcode.com/posts/how-to-add-custom-build-steps-and-commands-to-setuppy.html

[2017-10-10 20:46] #8 closed

[2017-10-10 20:58] 0crat commented on #42
Job `gh:dronmdf/telebot#42` assigned to @pavelonex, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 21:59] 0crat commented on #8
Job `gh:dronmdf/telebot#8` is now out of scope.

[2017-10-11 07:29] DronMDF commented on #12
@0crat assign me

[2017-10-11 07:43] #13 closed

[2017-10-11 08:13] 0crat commented on #12
@DronMDF Job `gh:dronmdf/telebot#12` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-11 08:13] 0crat commented on #12
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-11 08:13] 0crat commented on #12
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-11 08:13] 0crat commented on #12
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+435](http://www.0crat.com/u/dronmdf).

[2017-10-11 08:13] 0crat commented on #13
Job `gh:dronmdf/telebot#13` is now out of scope.

[2017-10-11 08:13] 0crat commented on #13
Order was successfully finished: +30 points just awarded to @chniks, total is [+45](http://www.0crat.com/u/chniks).

[2017-10-11 10:36] 0pdd opened #45 ".travis.yml:8-8: Интегрировать test в setup.py"
The puzzle `12-df202e49` (from #12) in [`.travis.yml`](https://github.com/DronMDF/telebot/blob/master/.travis.yml) (lines 8-8) has to be resolved: "Интегрировать test в setup.py"

The puzzle was created by Andrey Valyaev on 11-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2017-10-11 10:36] 0crat commented on #45
@dronmdf please, pay attention to this issue

[2017-10-11 10:37] 0crat commented on #44
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 12:04] #45 closed

[2017-10-11 12:04] 0pdd commented on #45
The puzzle `12-df202e49` has disappeared from the source code, that's why I closed this issue.

[2017-10-11 12:04] #12 closed

[2017-10-11 12:15] 0crat commented on #45
Oops! Job `gh:dronmdf/telebot#45` was not in scope

[2017-10-11 12:15] 0crat commented on #12
Job `gh:dronmdf/telebot#12` is now out of scope.

[2017-10-11 14:42] #44 closed

[2017-10-11 15:06] 0crat commented on #44
Oops! Job `gh:dronmdf/telebot#44` was not in scope

[2017-10-12 07:25] #19 closed

[2017-10-12 07:25] 0crat commented on #19
Job `gh:dronmdf/telebot#19` is now out of scope.

[2017-10-12 07:25] 0crat commented on #19
Order was successfully finished: +30 points just awarded to @barbaragrape, total is [+30](http://www.0crat.com/u/barbaragrape).

[2017-10-12 07:25] #22 closed

[2017-10-12 07:25] 0crat commented on #22
Job `gh:dronmdf/telebot#22` is now out of scope.

[2017-10-12 07:25] 0crat commented on #22
Order was successfully finished: +30 points just awarded to @meladark, total is [+30](http://www.0crat.com/u/meladark).

[2017-10-12 07:25] #21 closed

[2017-10-12 07:26] 0crat commented on #21
Job `gh:dronmdf/telebot#21` is now out of scope.

[2017-10-12 07:26] 0crat commented on #21
Order was successfully finished: +30 points just awarded to @1640max, total is [+30](http://www.0crat.com/u/1640max).

[2017-10-12 09:42] DronMDF opened #46 "Расчистить от старых модулей"

[2017-10-12 09:42] 0crat commented on #46
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-12 09:45] #46 closed

[2017-10-12 09:49] 0crat commented on #46
Oops! Job `gh:dronmdf/telebot#46` was not in scope

[2017-10-13 09:16] DronMDF opened #47 "Добавить шаблонов для источников и получателей"

[2017-10-13 09:16] 0crat commented on #47
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 09:29] 0pdd opened #48 "utility.py:6-7: Необходимо собрать actions со всех..."
The puzzle `47-cef35592` (from #47) in [`tb/sources/utility.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/utility.py) (lines 6-7) has to be resolved: "Необходимо собрать actions со всех внутренних источников и вернуть в виде общего списка"

The puzzle was created by Andrey Valyaev on 13-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, su

[2017-10-13 09:29] 0crat commented on #48
@dronmdf please, pay attention to this issue

[2017-10-13 09:29] 0pdd opened #49 "utility.py:6-7: Необходимо пробросить action во все..."
The puzzle `47-b5b1bd9d` (from #47) in [`tb/storage/utility.py`](https://github.com/DronMDF/telebot/blob/master/tb/storage/utility.py) (lines 6-7) has to be resolved: "Необходимо пробросить action во все вложенные storage"

The puzzle was created by Andrey Valyaev on 13-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2017-10-13 09:29] 0crat commented on #49
@dronmdf please, pay attention to this issue

[2017-10-13 09:29] DronMDF commented on #48
@0crat in

[2017-10-13 09:29] 0crat commented on #48
@DronMDF Job `gh:dronmdf/telebot#48` is in scope.

[2017-10-13 09:29] DronMDF commented on #49
@0crat in

[2017-10-13 09:30] 0crat commented on #49
@DronMDF Job `gh:dronmdf/telebot#49` is in scope.

[2017-10-13 09:30] #47 closed

[2017-10-13 09:30] 0crat commented on #47
Oops! Job `gh:dronmdf/telebot#47` was not in scope

[2017-10-13 19:07] DronMDF commented on #48
@yegor256 0crat was not elected this job. Why?
Next job too... i need help.

[2017-10-13 19:37] DronMDF commented on #49
@0crat assign @yuran8shon

[2017-10-13 19:38] 0crat commented on #49
@DronMDF Job `gh:dronmdf/telebot#49` assigned to @yuran8shon, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-14 12:27] yegor256 commented on #48
@DronMDF should make the election in the next few hours. I'll keep an eye on this task.

[2017-10-14 13:04] 0crat commented on #48
Job `gh:dronmdf/telebot#48` assigned to @chniks, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-14 16:24] DronMDF commented on #48
@yegor256 Thank's

[2017-10-16 10:26] DronMDF commented on #43
@0crat assign @sminux

[2017-10-16 10:27] 0crat commented on #43
@DronMDF Job `gh:dronmdf/telebot#43` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-16 14:50] DronMDF commented on #43
@sminux Вот например есть такой топик, в котором они парсят формат сислога.
https://stackoverflow.com/questions/41137742/syslog-parsing-using-pyparsing
Можно тупо скопипастить.

[2017-10-16 18:25] DronMDF commented on #23
@0crat assign me

[2017-10-16 18:27] 0crat commented on #23
@DronMDF Job `gh:dronmdf/telebot#23` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-16 18:27] DronMDF commented on #23
@0crat out

[2017-10-16 18:28] 0crat commented on #23
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-16 18:28] 0crat commented on #23
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-16 18:29] 0crat commented on #23
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+460](http://www.0crat.com/u/dronmdf).

[2017-10-16 18:29] 0crat commented on #23
@DronMDF Oops! There is an open order for this job, @dronmdf is still working with it.

[2017-10-16 19:02] #23 closed

[2017-10-16 19:03] 0crat commented on #23
Job `gh:dronmdf/telebot#23` is now out of scope.

[2017-10-17 08:01] DronMDF commented on #18
@0crat assign me

[2017-10-17 08:02] 0crat commented on #18
@DronMDF Job `gh:dronmdf/telebot#18` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-17 08:04] 0crat commented on #18
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:04] 0crat commented on #18
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:04] 0crat commented on #18
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+485](http://www.0crat.com/u/dronmdf).

[2017-10-17 08:05] DronMDF commented on #17
@0crat assign me

[2017-10-17 08:06] 0crat commented on #17
@DronMDF Job `gh:dronmdf/telebot#17` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-17 08:07] 0crat commented on #17
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:07] 0crat commented on #17
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:07] 0crat commented on #17
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+480](http://www.0crat.com/u/dronmdf).

[2017-10-17 08:10] DronMDF commented on #10
@0crat assign me

[2017-10-17 08:11] 0crat commented on #10
@DronMDF Job `gh:dronmdf/telebot#10` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-17 08:12] 0crat commented on #10
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:12] 0crat commented on #10
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:12] 0crat commented on #10
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+475](http://www.0crat.com/u/dronmdf).

[2017-10-17 08:45] DronMDF commented on #11
@0crat assign me

[2017-10-17 08:46] 0crat commented on #11
@DronMDF Job `gh:dronmdf/telebot#11` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-17 08:47] 0crat commented on #11
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:47] 0crat commented on #11
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 08:47] 0crat commented on #11
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+470](http://www.0crat.com/u/dronmdf).

[2017-10-17 08:48] #11 closed

[2017-10-17 08:48] #18 closed

[2017-10-17 08:48] 0crat commented on #11
Job `gh:dronmdf/telebot#11` is now out of scope.

[2017-10-17 08:49] #17 closed

[2017-10-17 08:49] #10 closed

[2017-10-17 08:50] 0crat commented on #18
Job `gh:dronmdf/telebot#18` is now out of scope.

[2017-10-17 08:51] 0crat commented on #17
Job `gh:dronmdf/telebot#17` is now out of scope.

[2017-10-17 08:51] 0crat commented on #10
Job `gh:dronmdf/telebot#10` is now out of scope.

[2017-10-17 13:10] DronMDF commented on #20
@0crat assign me

[2017-10-17 13:11] 0crat commented on #20
@DronMDF Job `gh:dronmdf/telebot#20` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-17 13:13] 0crat commented on #20
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 13:13] 0crat commented on #20
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 13:13] 0crat commented on #20
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+585](http://www.0crat.com/u/dronmdf).

[2017-10-17 13:16] #20 closed

[2017-10-17 13:17] 0crat commented on #20
Job `gh:dronmdf/telebot#20` is now out of scope.

[2017-10-17 13:17] 0crat commented on #20
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+615](http://www.0crat.com/u/dronmdf).

[2017-10-17 18:41] 0crat commented on #20
Oops! There is no order for job `gh:dronmdf/telebot#20`.

[2017-10-17 18:41] 0crat commented on #20
Oops! Job `gh:dronmdf/telebot#20` was not in scope

[2017-10-17 18:43] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-17 18:45] 0crat commented on #11
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 18:45] 0crat commented on #11
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 18:45] 0crat commented on #11
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+600](http://www.0crat.com/u/dronmdf).

[2017-10-17 18:46] 0crat commented on #23
Oops! There is no order for job `gh:dronmdf/telebot#23`.

[2017-10-17 18:47] 0crat commented on #23
Oops! Job `gh:dronmdf/telebot#23` was not in scope

[2017-10-17 18:47] 0crat commented on #23
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-17 19:44] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-17 20:44] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-17 21:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-17 22:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-17 23:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 00:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 01:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 02:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 03:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 04:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 05:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 06:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 07:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 08:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 09:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 10:04] DronMDF commented on #47
@yegor256 Здесь видимо возникла какая-то проблема... :(

[2017-10-18 10:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 11:45] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 12:46] 0crat commented on #47
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-18 13:19] yegor256 commented on #47
@DronMDF починили

[2017-10-18 13:36] DronMDF commented on #47
@yegor256 Thank's

[2017-10-18 13:48] 0crat commented on #47
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+585](http://www.0crat.com/u/dronmdf).

[2017-10-18 13:48] 0crat commented on #47
Job `gh:dronmdf/telebot#47` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-18 13:48] 0crat commented on #47
Oops! Job `gh:dronmdf/telebot#47` is already assigned to @dronmdf, sorry.

[2017-10-18 13:49] 0crat commented on #47
Bug was reported: +15 points just awarded to @dronmdf, total is [+600](http://www.0crat.com/u/dronmdf).

[2017-10-18 20:39] DronMDF opened #51 "Добавить pylint"
Надо только разобраться, как поотключать у него все лишнее.

[2017-10-19 09:00] DronMDF commented on #51
@0crat in

[2017-10-19 09:01] 0crat commented on #51
@DronMDF Job `gh:dronmdf/telebot#51` is in scope.

[2017-10-19 09:02] 0crat commented on #51
Bug was reported: +15 points just awarded to @dronmdf, total is [+615](http://www.0crat.com/u/dronmdf).

[2017-10-19 09:02] 0crat commented on #51
Job `gh:dronmdf/telebot#51` assigned to @1640max, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-19 09:29] DronMDF commented on #51
@0crat out

[2017-10-19 09:30] 0crat commented on #51
@DronMDF Oops! There is an open order for this job, @1640max is still working with it.

[2017-10-19 09:34] DronMDF commented on #51
@yegor256 I can not give a command 'out' on the assigned task.
@1640max Не обращай внимания на эту задачу, это эксперименты.

[2017-10-19 12:25] yegor256 commented on #51
@DronMDF yes, you have to cancel the order first. Use `reject`.

[2017-10-19 12:40] DronMDF commented on #51
@0crat how to reject order?

[2017-10-19 12:40] 0crat commented on #51
@DronMDF Can't understand "how", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `version` Print current version of the bot

[2017-10-19 12:43] DronMDF commented on #51
@yegor256 How to make reject? Did you mean 'refuse'?
refuse not in help by the way.

[2017-10-19 12:44] DronMDF commented on #51
@0crat reject

[2017-10-19 12:45] 0crat commented on #51
@DronMDF Oops! The job `gh:dronmdf/telebot#51` is assigned to @1640max, you @dronmdf cannot resign, since you are not a PO or ARC.

[2017-10-19 12:46] DronMDF commented on #51
@yegor256 reject is synonym of refuse? Doesn't work for me.
This is not what I want. I do not want to assign a job to someone else. I want to remove it.

[2017-10-19 14:24] yegor256 commented on #51
@DronMDF I guess you're right, `out` should stop the working order too. It's fixed. Try to `out` again.

[2017-10-19 14:30] DronMDF commented on #51
@0crat out

[2017-10-19 14:31] 0crat commented on #51
@DronMDF @1640max resigned from `gh:dronmdf/telebot#51`, since the job is not in scope anymore.

[2017-10-19 14:31] 0crat commented on #51
@DronMDF Job `gh:dronmdf/telebot#51` is now out of scope.

[2017-10-19 14:42] DronMDF commented on #51
@yegor256 Thank's. This is logical.

[2017-10-19 20:42] DronMDF commented on #51
Че-то мне как-то расхотелось прикручивать pylint. Он совершенно не умеет держать язык за зубами (работать и не писать ничего на экран). Кроме того совершенно не ООП. Просто ужас, какой плоский код.

[2017-10-19 20:43] 0crat commented on #51
Oops! There is no order for job `gh:dronmdf/telebot#51`.

[2017-10-19 20:43] 0crat commented on #51
Oops! Job `gh:dronmdf/telebot#51` is not in scope.

[2017-10-19 20:44] DronMDF commented on #51
А может быть не прикручивать а запускать просто так?

[2017-10-19 20:45] DronMDF opened #52 "Добавить контроль mi и cc с помощью radon"

[2017-10-19 20:45] 0crat commented on #52
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-20 19:35] 0crat commented on #52
Job `gh:dronmdf/telebot#52` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-20 21:23] #52 closed

[2017-10-20 21:23] 0crat commented on #52
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-20 22:24] 0crat commented on #52
Bug was reported: +15 points just awarded to @dronmdf, total is [+625](http://www.0crat.com/u/dronmdf).

[2017-10-20 22:24] 0crat commented on #52
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+625](http://www.0crat.com/u/dronmdf).

[2017-10-20 22:25] 0crat commented on #52
Job `gh:dronmdf/telebot#52` is now out of scope.

[2017-10-20 22:25] 0crat commented on #52
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+655](http://www.0crat.com/u/dronmdf).

[2017-10-23 15:36] DronMDF commented on #36
@0crat assign @meladark

[2017-10-23 15:37] 0crat commented on #36
@DronMDF Job `gh:dronmdf/telebot#36` assigned to @meladark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-23 15:38] 0crat commented on #36
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+650](http://www.0crat.com/u/dronmdf).

[2017-10-23 18:33] DronMDF commented on #38
@0crat assign @yuran8shon

[2017-10-23 18:33] DronMDF commented on #37
@0crat assign @sminux

[2017-10-23 18:34] 0crat commented on #38
@DronMDF Job `gh:dronmdf/telebot#38` assigned to @yuran8shon, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-23 18:35] 0crat commented on #38
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+645](http://www.0crat.com/u/dronmdf).

[2017-10-23 18:35] 0crat commented on #37
@DronMDF Job `gh:dronmdf/telebot#37` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-23 18:36] 0crat commented on #37
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+640](http://www.0crat.com/u/dronmdf).

[2017-10-23 19:05] #38 closed

[2017-10-23 19:05] 0pdd commented on #38
The puzzle `35-d7be7cdc` has disappeared from the source code, that's why I closed this issue.

[2017-10-23 19:05] 0crat commented on #38
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 19:07] DronMDF commented on #38
@yegor256 Что-то эта штука никак не работает. :)

[2017-10-23 20:06] 0crat commented on #38
Job `gh:dronmdf/telebot#38` is now out of scope.

[2017-10-23 20:07] 0crat commented on #38
Order was successfully finished: +30 points just awarded to @yuran8shon, total is [+75](http://www.0crat.com/u/yuran8shon).

[2017-10-23 20:17] #37 closed

[2017-10-23 20:17] 0pdd commented on #37
The puzzle `35-519019b8` has disappeared from the source code, that's why I closed this issue.

[2017-10-23 20:17] #43 closed

[2017-10-23 20:17] 0pdd commented on #43
The puzzle `40-b7de133b` has disappeared from the source code, that's why I closed this issue.

[2017-10-23 20:18] 0crat commented on #37
Job `gh:dronmdf/telebot#37` is now out of scope.

[2017-10-23 20:18] 0crat commented on #43
Job `gh:dronmdf/telebot#43` is now out of scope.

[2017-10-23 20:19] 0crat commented on #37
Order was successfully finished: +30 points just awarded to @sminux, total is [+120](http://www.0crat.com/u/sminux).

[2017-10-23 20:19] 0crat commented on #43
Order was successfully finished: +30 points just awarded to @sminux, total is [+120](http://www.0crat.com/u/sminux).

[2017-10-24 10:34] yegor256 commented on #38
@DronMDF это "баг" в GitHub API. Он присылает нам webhook о том, что тикет закрылся. Мы пытаемся к этому тикету тут же обратиться, а сообщения о закрытии там еще нет. И мы получаем ошибку. Уже исправили. Теперь будем делать несколько попыток, пока тикет не обновится в GitHub API.

[2017-10-25 12:50] DronMDF commented on #36
@0crat assign me

[2017-10-25 12:50] DronMDF commented on #39
@0crat assign me

[2017-10-25 12:51] 0crat commented on #36
@DronMDF Job `gh:dronmdf/telebot#36` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-25 12:52] 0crat commented on #36
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+635](http://www.0crat.com/u/dronmdf).

[2017-10-25 12:52] 0crat commented on #39
@DronMDF Job `gh:dronmdf/telebot#39` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-25 12:53] 0crat commented on #36
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-25 12:54] 0crat commented on #39
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+630](http://www.0crat.com/u/dronmdf).

[2017-10-25 12:54] 0crat commented on #39
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-10-25 13:06] #36 closed

[2017-10-25 13:06] 0pdd commented on #36
The puzzle `35-88e76001` has disappeared from the source code, that's why I closed this issue.

[2017-10-25 13:06] 0crat commented on #36
Job `gh:dronmdf/telebot#36` is now out of scope.

[2017-10-25 13:07] 0crat commented on #36
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+660](http://www.0crat.com/u/dronmdf).

[2017-10-29 20:55] 0pdd commented on #39
The puzzle `35-fca646b9` has disappeared from the source code, that's why I closed this issue.

[2017-10-29 20:55] #39 closed

[2017-10-29 20:55] 0pdd opened #55 "telegram.py:4-4: Перенести AcMessage в правильное место"
The puzzle `39-83038aa7` (from #39) in [`tb/sources/telegram.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/telegram.py) (lines 4-4) has to be resolved: "Перенести AcMessage в правильное место"

The puzzle was created by Andrey Valyaev on 25-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2017-10-29 20:55] 0pdd opened #56 "telegram.py:18-21: Необходимо сохранить в БД номер..."
The puzzle `39-f74a6074` (from #39) in [`tb/storage/telegram.py`](https://github.com/DronMDF/telebot/blob/master/tb/storage/telegram.py) (lines 18-21) has to be resolved: "Необходимо сохранить в БД номер сообщения, с которым работал бот. Это необходимо для того, чтобы после перезапуска бот не повторял свои сообщения. Можно использовать https://pypi.python.org/pypi/tinydb - достаточно простая штука

[2017-10-29 20:55] 0crat commented on #55
@dronmdf please, pay attention to this issue

[2017-10-29 20:55] 0crat commented on #56
@dronmdf please, pay attention to this issue

[2017-10-29 20:55] 0pdd opened #57 "telegram.py:22-23: Нужно восстановить из БД значние..."
The puzzle `39-e0443908` (from #39) in [`tb/sources/telegram.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/telegram.py) (lines 22-23) has to be resolved: "Нужно восстановить из БД значние счетчика и использовать его для последующих операций."

The puzzle was created by Andrey Valyaev on 29-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me,

[2017-10-29 20:55] 0pdd opened #58 "utility.py:16-18: В процессе выполнения action может..."
The puzzle `39-b97bcefa` (from #39) in [`tb/sources/utility.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/utility.py) (lines 16-18) has to be resolved: "В процессе выполнения action может возникнуть исключение. В этом случае необходимо донести до админитратора информацию о том, что пошло не так."

The puzzle was created by Andrey Valyaev on 29-Oct-17.

Estimate: 0 minutes, role: I

[2017-10-29 20:55] 0crat commented on #57
@dronmdf please, pay attention to this issue

[2017-10-29 20:55] 0crat commented on #58
@dronmdf please, pay attention to this issue

[2017-10-29 20:55] 0pdd opened #59 "config.py:2-4: Необходимо организовать чтение..."
The puzzle `39-ad668363` (from #39) in [`tb/config.py`](https://github.com/DronMDF/telebot/blob/master/tb/config.py) (lines 2-4) has to be resolved: "Необходимо организовать чтение конфигурации из файла конфигурации. Формат файла конфигурации - ini модуль: https://docs.python.org/3/library/configparser.html"

The puzzle was created by Andrey Valyaev on 29-Oct-17.

Estimate: 0 minutes, role: IMP.

[2017-10-29 20:55] 0crat commented on #59
@dronmdf please, pay attention to this issue

[2017-10-29 20:55] 0pdd opened #60 "config.py:16-20: Необходимо организовать разбор..."
The puzzle `39-299392b7` (from #39) in [`tb/config.py`](https://github.com/DronMDF/telebot/blob/master/tb/config.py) (lines 16-20) has to be resolved: "Необходимо организовать разбор параметров из командной строки. Для начала достаточно поддержать совместимость С имеющимся классом и достать оттуда токен телеграмма (первый аргумент) но делать это нужно через модуль: https://docs.python.org/3/librar

[2017-10-29 20:55] 0crat commented on #60
@dronmdf please, pay attention to this issue

[2017-10-29 20:55] 0crat commented on #39
Job `gh:dronmdf/telebot#39` is now out of scope.

[2017-10-29 20:56] 0crat commented on #39
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+690](http://www.0crat.com/u/dronmdf).

[2017-10-29 20:58] DronMDF commented on #58
@0crat in

[2017-10-29 20:58] DronMDF commented on #59
@0crat in

[2017-10-29 20:58] 0crat commented on #58
@DronMDF Job `gh:dronmdf/telebot#58` is in scope.

[2017-10-29 20:58] DronMDF commented on #60
@0crat in

[2017-10-29 20:58] 0crat commented on #59
@DronMDF Job `gh:dronmdf/telebot#59` is in scope.

[2017-10-29 20:59] 0crat commented on #60
@DronMDF Job `gh:dronmdf/telebot#60` is in scope.

[2017-10-29 21:04] 0crat commented on #58
Job `gh:dronmdf/telebot#58` assigned to @1640max, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-29 21:34] 0crat commented on #60
Job `gh:dronmdf/telebot#60` assigned to @1640max, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-29 22:33] 0crat commented on #59
Job `gh:dronmdf/telebot#59` assigned to @meladark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 12:07] DronMDF commented on #60
@0crat refuse

[2017-10-30 12:07] 0crat commented on #60
@DronMDF @1640max resigned from `gh:dronmdf/telebot#60`, please stop working.

[2017-10-30 12:14] 0crat commented on #60
Job `gh:dronmdf/telebot#60` assigned to @pavelonex, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 12:16] DronMDF commented on #56
@0crat in

[2017-10-30 12:16] DronMDF commented on #57
@0crat in

[2017-10-30 12:16] 0crat commented on #56
@DronMDF Job `gh:dronmdf/telebot#56` is in scope.

[2017-10-30 12:16] 0crat commented on #57
@DronMDF Job `gh:dronmdf/telebot#57` is in scope.

[2017-10-30 12:34] 0crat commented on #56
Job `gh:dronmdf/telebot#56` assigned to @1640max, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 13:05] 0crat commented on #57
Job `gh:dronmdf/telebot#57` assigned to @drakonda, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 19:16] DronMDF opened #63 "Реализация базы на основе tinydb"

[2017-10-30 19:16] DronMDF commented on #63
@0crat in

[2017-10-30 19:17] DronMDF commented on #63
@0crat assign @sminux

[2017-10-30 19:17] 0crat commented on #63
@DronMDF Job `gh:dronmdf/telebot#63` is in scope.

[2017-10-30 19:19] 0crat commented on #63
@DronMDF Job `gh:dronmdf/telebot#63` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 19:19] 0crat commented on #63
Bug was reported: +15 points just awarded to @dronmdf, total is [+700](http://www.0crat.com/u/dronmdf).

[2017-10-30 19:20] DronMDF commented on #49
@0crat assign @sminux

[2017-10-30 19:20] 0crat commented on #63
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+695](http://www.0crat.com/u/dronmdf).

[2017-10-30 19:22] 0crat commented on #49
@DronMDF Job `gh:dronmdf/telebot#49` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 19:23] 0crat commented on #49
@DronMDF Oops! Job `gh:dronmdf/telebot#49` is already assigned to @sminux, sorry.

[2017-10-30 19:24] 0crat commented on #49
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+685](http://www.0crat.com/u/dronmdf).

[2017-10-30 19:25] 0crat commented on #49
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+685](http://www.0crat.com/u/dronmdf).

[2017-10-30 19:32] #49 closed

[2017-10-30 19:32] 0pdd commented on #49
The puzzle `47-b5b1bd9d` has disappeared from the source code, that's why I closed this issue.

[2017-10-30 19:32] 0pdd opened #66 "tinydb.py:10-10: нужно использовать update"
The puzzle `39-3292f686` (from #39) in [`tb/storage/tinydb.py`](https://github.com/DronMDF/telebot/blob/master/tb/storage/tinydb.py) (lines 10-10) has to be resolved: "нужно использовать update"

The puzzle was created by sm on 30-Oct-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2017-10-30 19:33] 0crat commented on #66
@dronmdf please, pay attention to this issue

[2017-10-30 19:33] 0crat commented on #49
Job `gh:dronmdf/telebot#49` is now out of scope.

[2017-10-30 19:34] 0crat commented on #49
Order was successfully finished: +30 points just awarded to @sminux, total is [+150](http://www.0crat.com/u/sminux).

[2017-10-30 20:12] #63 closed

[2017-10-30 20:13] 0crat commented on #63
Job `gh:dronmdf/telebot#63` is now out of scope.

[2017-10-30 20:13] 0crat commented on #63
Order was successfully finished: +30 points just awarded to @sminux, total is [+180](http://www.0crat.com/u/sminux).

[2017-11-01 09:44] DronMDF commented on #59
@0crat assign me

[2017-11-01 09:44] DronMDF commented on #60
@0crat assign me

[2017-11-01 09:45] DronMDF opened #67 "Скрипт для запуска сервиса"
https://stackoverflow.com/questions/4705564/python-script-as-linux-service-daemon

[2017-11-01 09:46] 0crat commented on #59
@DronMDF Job `gh:dronmdf/telebot#59` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-01 09:47] 0crat commented on #59
Oops! Job `gh:dronmdf/telebot#59` is already assigned to @dronmdf, sorry.

[2017-11-01 09:48] 0crat commented on #60
@DronMDF Job `gh:dronmdf/telebot#60` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-01 09:48] 0crat commented on #59
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+680](http://www.0crat.com/u/dronmdf).

[2017-11-01 09:48] 0crat commented on #59
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-01 09:49] 0crat commented on #67
Job `gh:dronmdf/telebot#67` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-01 09:50] 0crat commented on #60
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+685](http://www.0crat.com/u/dronmdf).

[2017-11-01 09:50] 0crat commented on #60
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-01 09:50] 0crat commented on #67
Bug was reported: +15 points just awarded to @dronmdf, total is [+685](http://www.0crat.com/u/dronmdf).

[2017-11-01 09:50] 0crat commented on #67
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+685](http://www.0crat.com/u/dronmdf).

[2017-11-01 09:52] DronMDF commented on #59
@yegor256 Last message is strange... 0crat does not have a role in the project. This is a fact.

[2017-11-01 10:40] #67 closed

[2017-11-01 10:40] 0crat commented on #67
Job `gh:dronmdf/telebot#67` is now out of scope.

[2017-11-01 10:41] 0crat commented on #67
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+715](http://www.0crat.com/u/dronmdf).

[2017-11-01 12:53] yegor256 commented on #59
@DronMDF yeah, it's a bug, will fix it today, sorry)

[2017-11-01 19:41] 0pdd commented on #60
The puzzle `39-299392b7` has disappeared from the source code, that's why I closed this issue.

[2017-11-01 19:41] #60 closed

[2017-11-01 19:42] 0crat commented on #60
Job `gh:dronmdf/telebot#60` is now out of scope.

[2017-11-01 19:42] 0crat commented on #60
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+745](http://www.0crat.com/u/dronmdf).

[2017-11-02 10:49] 0pdd commented on #59
The puzzle `39-ad668363` has disappeared from the source code, that's why I closed this issue.

[2017-11-02 10:49] #59 closed

[2017-11-02 10:50] 0crat commented on #59
Job `gh:dronmdf/telebot#59` is now out of scope.

[2017-11-02 10:51] 0crat commented on #59
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+775](http://www.0crat.com/u/dronmdf).

[2017-11-04 08:29] DronMDF commented on #42
@0crat out

[2017-11-04 08:30] 0crat commented on #42
@DronMDF @pavelonex resigned from `gh:dronmdf/telebot#42`, since the job is not in scope anymore.

[2017-11-04 08:30] 0crat commented on #42
@DronMDF Job `gh:dronmdf/telebot#42` is now out of scope.

[2017-11-04 08:41] DronMDF commented on #48
@0crat out

[2017-11-04 08:42] 0crat commented on #48
@DronMDF @chniks resigned from `gh:dronmdf/telebot#48`, since the job is not in scope anymore.

[2017-11-04 08:42] 0crat commented on #48
@DronMDF Job `gh:dronmdf/telebot#48` is now out of scope.

[2017-11-13 15:41] 0pdd opened #68 "telegram.py:27-28: Этот класс должен форммировать..."
The puzzle `39-13286181` (from #39) in [`tb/sources/telegram.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/telegram.py) (lines 27-28) has to be resolved: "Этот класс должен форммировать ответную реакцию на основе заданного набора реакций. И Набор реакций лучше передавать извне, чтобы не раздувать код."

The puzzle was created by Andrey Valyaev on 13-Nov-17.

Estimate: 0 minutes, r

[2017-11-13 15:41] 0crat commented on #68
@dronmdf please, pay attention to this issue

[2017-11-13 15:49] DronMDF commented on #68
@0crat assign @Michaelo0

[2017-11-13 15:50] 0crat commented on #68
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-11-13 15:50] DronMDF commented on #68
@0crat assign @Michaelo0

[2017-11-13 15:50] 0crat commented on #68
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-11-13 19:25] DronMDF commented on #68
@0crat hello

[2017-11-13 19:25] 0crat commented on #68
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-11-13 19:27] DronMDF commented on #68
@yegor256 Strange 0crat behavior.
I start message from name...

[2017-11-13 20:09] yegor256 commented on #68
@0crat hello

[2017-11-13 20:10] 0crat commented on #68
@yegor256 Hey, what's up, how is it going?

[2017-11-13 20:11] yegor256 commented on #68
@DronMDF seems to be working... can you try again? I didn't change anything though

[2017-11-13 20:19] DronMDF commented on #68
@0crat assign @Michaelo0

[2017-11-13 20:21] 0crat commented on #68
@DronMDF I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-11-13 20:21] 0crat commented on #68
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+770](http://www.0crat.com/u/dronmdf).

[2017-11-13 20:23] 0crat commented on #68
Job `gh:dronmdf/telebot#68` assigned to @michaelo0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-13 20:26] yegor256 commented on #68
@DronMDF I have no idea what it was.... Thanks for bringing me here, I will investigate.

[2017-11-13 20:28] DronMDF commented on #68
@yegor256 In this time it work. With error... Do not go far. :) Thanks.

[2017-11-14 16:39] 0crat commented on #41
@meladark this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 16:45] 0crat commented on #47
@dronmdf this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 16:48] 0crat commented on #58
@1640max this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 16:50] 0crat commented on #56
@1640max this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 16:53] 0crat commented on #57
@drakonda this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 19:48] DronMDF commented on #58
@0crat assign me

[2017-11-14 20:06] 0pdd commented on #58
The puzzle `39-b97bcefa` has disappeared from the source code, that's why I closed this issue.

[2017-11-14 20:06] #58 closed

[2017-11-14 20:06] 0pdd opened #70 "utility.py:19-20: Из текста исключения необходимо..."
The puzzle `58-b8773024` (from #58) in [`tb/sources/utility.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/utility.py) (lines 19-20) has to be resolved: "Из текста исключения необходимо сформировать сообщение для администратора"

The puzzle was created by Andrey Valyaev on 14-Nov-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tic

[2017-11-14 20:06] 0crat commented on #70
@dronmdf please, pay attention to this issue

[2017-11-14 20:19] 0crat commented on #41
@meladark resigned from `gh:dronmdf/telebot#41`, please stop working.

[2017-11-14 20:19] 0crat commented on #47
@dronmdf resigned from `gh:dronmdf/telebot#47`, please stop working.

[2017-11-14 20:19] 0crat commented on #58
@1640max resigned from `gh:dronmdf/telebot#58`, please stop working.

[2017-11-14 20:19] 0crat commented on #56
@1640max resigned from `gh:dronmdf/telebot#56`, please stop working.

[2017-11-14 20:19] 0crat commented on #57
@drakonda resigned from `gh:dronmdf/telebot#57`, please stop working.

[2017-11-14 20:20] 0crat commented on #41
Oops! Job `gh:dronmdf/telebot#41` is not assigned to anyone.

[2017-11-14 20:20] 0crat commented on #47
Oops! Job `gh:dronmdf/telebot#47` is not assigned to anyone.

[2017-11-14 20:20] 0crat commented on #58
Oops! Job `gh:dronmdf/telebot#58` is not assigned to anyone.

[2017-11-14 20:20] 0crat commented on #56
Oops! Job `gh:dronmdf/telebot#56` is not assigned to anyone.

[2017-11-14 20:20] 0crat commented on #57
Oops! Job `gh:dronmdf/telebot#57` is not assigned to anyone.

[2017-11-14 20:21] 0crat commented on #41
Oops! Job `gh:dronmdf/telebot#41` is not assigned to anyone.

[2017-11-14 20:22] 0crat commented on #47
Oops! Job `gh:dronmdf/telebot#47` is not assigned to anyone.

[2017-11-14 20:22] 0crat commented on #58
Oops! Job `gh:dronmdf/telebot#58` is not assigned to anyone.

[2017-11-14 20:22] 0crat commented on #56
Oops! Job `gh:dronmdf/telebot#56` is not assigned to anyone.

[2017-11-14 20:22] 0crat commented on #57
Oops! Job `gh:dronmdf/telebot#57` is not assigned to anyone.

[2017-11-14 20:23] 0crat commented on #41
Oops! Job `gh:dronmdf/telebot#41` is not assigned to anyone.

[2017-11-14 20:23] 0crat commented on #58
Oops! Job `gh:dronmdf/telebot#58` is not assigned to anyone.

[2017-11-14 20:23] 0crat commented on #56
Oops! Job `gh:dronmdf/telebot#56` is not assigned to anyone.

[2017-11-14 20:23] 0crat commented on #57
Oops! Job `gh:dronmdf/telebot#57` is not assigned to anyone.

[2017-11-14 20:24] 0crat commented on #41
Oops! Job `gh:dronmdf/telebot#41` is not assigned to anyone.

[2017-11-14 20:24] 0crat commented on #58
Oops! Job `gh:dronmdf/telebot#58` is not assigned to anyone.

[2017-11-14 20:24] 0crat commented on #56
Oops! Job `gh:dronmdf/telebot#56` is not assigned to anyone.

[2017-11-14 20:24] 0crat commented on #57
Oops! Job `gh:dronmdf/telebot#57` is not assigned to anyone.

[2017-11-14 20:26] 0crat commented on #58
Oops! Job `gh:dronmdf/telebot#58` is not assigned to anyone.

[2017-11-14 20:27] 0crat commented on #58
Oops! Job `gh:dronmdf/telebot#58` is not assigned to anyone.

[2017-11-14 20:29] 0crat commented on #58
Oops! Job `gh:dronmdf/telebot#58` is not assigned to anyone.

[2017-11-14 20:46] DronMDF commented on #70
@0crat in

[2017-11-17 00:37] 0crat commented on #70
@DronMDF Job `gh:dronmdf/telebot#70` is in scope.

[2017-11-17 01:06] 0crat commented on #70
Job `gh:dronmdf/telebot#70` assigned to @meladark, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 21:08] 0crat commented on #68
@michaelo0 this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-19 12:59] DronMDF commented on #68
@Michaelo0 По поводу 0crat не беспокойся, Но я хотел бы, чтобы ты обкатал взаимодействие с проектом... а то придется тратить время на занятии...

[2017-11-19 18:51] DronMDF commented on #68
@0crat assign me

[2017-11-19 18:53] 0crat commented on #68
@DronMDF Job `gh:dronmdf/telebot#68` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-19 18:54] 0crat commented on #68
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+760](http://www.0crat.com/u/dronmdf).

[2017-11-19 18:54] 0crat commented on #68
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-19 19:07] Michaelo0 commented on #68
Я пока еще не придумал, что написать . Пытаюсь в проекте разобраться

вс, 19 нояб. 2017 г. в 15:59, Andrey Valyaev <notifications@github.com>:

Сейчас

[2017-11-20 15:54] #55 closed

[2017-11-20 15:54] 0pdd commented on #55
The puzzle `39-83038aa7` has disappeared from the source code, that's why I closed this issue.

[2017-11-20 15:54] 0pdd commented on #68
The puzzle `39-13286181` has disappeared from the source code, that's why I closed this issue.

[2017-11-20 15:54] #68 closed

[2017-11-20 15:54] 0pdd opened #74 "reaction.py:19-21: Нужно сделать такую реакцию, которая..."
The puzzle `68-ff971afd` (from #68) in [`tb/sources/reaction.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/reaction.py) (lines 19-21) has to be resolved: "Нужно сделать такую реакцию, которая могла бы выбирать из нескольких реакций. То есть необходимо реализовать ReactionChoiced"

The puzzle was created by Andrey Valyaev on 20-Nov-17.

Estimate: 0 minutes, role: IMP.

If you have

[2017-11-20 15:54] 0crat commented on #74
@dronmdf please, pay attention to this issue

[2017-11-20 15:58] 0crat commented on #55
Oops! There is no order for job `gh:dronmdf/telebot#55`.

[2017-11-20 15:58] 0crat commented on #55
Oops! Job `gh:dronmdf/telebot#55` is not in scope.

[2017-11-20 15:59] 0crat commented on #68
Job `gh:dronmdf/telebot#68` is now out of scope.

[2017-11-20 15:59] 0crat commented on #68
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+790](http://www.0crat.com/u/dronmdf).

[2017-11-20 16:04] 0pdd commented on #56
The puzzle `39-f74a6074` has disappeared from the source code, that's why I closed this issue.

[2017-11-20 16:04] #56 closed

[2017-11-20 16:05] 0crat commented on #56
Job `gh:dronmdf/telebot#56` is now out of scope.

[2017-11-20 16:06] 0crat commented on #56
Order was successfully finished: +30 points just awarded to @sminux, total is [+210](http://www.0crat.com/u/sminux).

[2017-11-20 19:56] DronMDF commented on #74
@0crat in

[2017-11-20 19:57] 0crat commented on #74
@DronMDF Job `gh:dronmdf/telebot#74` is in scope.

[2017-11-20 20:00] 0crat commented on #74
Job `gh:dronmdf/telebot#74` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 19:30] DronMDF commented on #47
@0crat out

[2017-11-21 19:32] 0crat commented on #47
@DronMDF Job `gh:dronmdf/telebot#47` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 19:32] DronMDF commented on #47
@0crat out

[2017-11-21 19:34] 0crat commented on #47
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+785](http://www.0crat.com/u/dronmdf).

[2017-11-21 19:34] 0crat commented on #47
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-21 19:35] 0crat commented on #47
@DronMDF @dronmdf resigned from `gh:dronmdf/telebot#47`, since the job is not in scope anymore.

[2017-11-21 19:35] 0crat commented on #47
@DronMDF Job `gh:dronmdf/telebot#47` is now out of scope.

[2017-11-21 19:35] 0crat commented on #47
@DronMDF Oops! Job `gh:dronmdf/telebot#47` is not in scope.

[2017-11-21 19:39] DronMDF commented on #70
@0crat out

[2017-11-21 19:40] DronMDF commented on #41
@0crat out

[2017-11-21 19:42] 0crat commented on #70
@DronMDF @meladark resigned from `gh:dronmdf/telebot#70`, since the job is not in scope anymore.

[2017-11-21 19:42] 0crat commented on #70
@DronMDF Job `gh:dronmdf/telebot#70` is now out of scope.

[2017-11-21 19:43] DronMDF commented on #57
@0crat assign me

[2017-11-21 19:45] DronMDF commented on #74
@0crat assign @Michaelo0

[2017-11-21 19:45] 0crat commented on #41
@DronMDF @dronmdf resigned from `gh:dronmdf/telebot#41`, since the job is not in scope anymore.

[2017-11-21 19:45] 0crat commented on #41
@DronMDF Job `gh:dronmdf/telebot#41` is now out of scope.

[2017-11-21 19:45] 0crat commented on #41
@DronMDF Oops! Job `gh:dronmdf/telebot#41` is not in scope.

[2017-11-21 19:45] DronMDF commented on #48
@0crat assign @sminux

[2017-11-21 19:52] 0crat commented on #57
@DronMDF Job `gh:dronmdf/telebot#57` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 19:54] 0crat commented on #74
@DronMDF Job `gh:dronmdf/telebot#74` assigned to @michaelo0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 19:55] 0crat commented on #48
@DronMDF Job `gh:dronmdf/telebot#48` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 19:56] 0crat commented on #57
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+775](http://www.0crat.com/u/dronmdf).

[2017-11-21 19:56] 0crat commented on #57
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-21 19:57] 0crat commented on #74
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+770](http://www.0crat.com/u/dronmdf).

[2017-11-21 19:57] 0crat commented on #48
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+770](http://www.0crat.com/u/dronmdf).

[2017-11-22 20:38] 0pdd commented on #57
The puzzle `39-e0443908` has disappeared from the source code, that's why I closed this issue.

[2017-11-22 20:38] #57 closed

[2017-11-22 20:40] DronMDF commented on #66
@0crat assign me

[2017-11-22 20:58] 0crat commented on #57
Job `gh:dronmdf/telebot#57` is now out of scope.

[2017-11-22 21:00] 0crat commented on #66
@DronMDF Job `gh:dronmdf/telebot#66` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-22 21:09] 0crat commented on #57
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+800](http://www.0crat.com/u/dronmdf).

[2017-11-22 21:19] 0crat commented on #66
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+795](http://www.0crat.com/u/dronmdf).

[2017-11-22 21:19] 0crat commented on #66
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-23 19:59] #66 closed

[2017-11-23 19:59] 0pdd commented on #66
The puzzle `39-3292f686` has disappeared from the source code, that's why I closed this issue.

[2017-11-23 20:18] 0crat commented on #66
Job `gh:dronmdf/telebot#66` is now out of scope.

[2017-11-23 20:39] 0crat commented on #66
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+825](http://www.0crat.com/u/dronmdf).

[2017-11-26 20:10] 0crat commented on #74
@michaelo0 this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-27 19:16] 0pdd commented on #74
The puzzle `68-ff971afd` has disappeared from the source code, that's why I closed this issue.

[2017-11-27 19:16] #74 closed

[2017-11-27 19:38] 0crat commented on #74
Job `gh:dronmdf/telebot#74` is now out of scope.

[2017-11-27 19:41] 0pdd opened #81 "hdd.py:7-8: Сформировать Action, который доставит..."
The puzzle `41-96ac84d5` (from #41) in [`tb/sources/hdd.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/hdd.py) (lines 7-8) has to be resolved: "Сформировать Action, который доставит админу уведомление о том, что на диске кончилось место"

The puzzle was created by Andrey Valyaev on 27-Nov-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, submi

[2017-11-27 19:41] 0crat commented on #81
@dronmdf please, pay attention to this issue

[2017-11-27 19:41] 0crat commented on #74
Order was successfully finished: +30 points just awarded to @michaelo0, total is [+30](http://www.0crat.com/u/michaelo0).

[2017-11-27 19:55] 0pdd commented on #48
The puzzle `47-cef35592` has disappeared from the source code, that's why I closed this issue.

[2017-11-27 19:55] 0pdd opened #83 "utility.py:13-15: Что-то я немного сомневаюсь, что..."
The puzzle `48-e2948c7e` (from #48) in [`tb/sources/utility.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/utility.py) (lines 13-15) has to be resolved: "Что-то я немного сомневаюсь, что SoJoin работает корректно. И это удобное место, чтобы попробовать написать тест. Примеры оформления тестов можно посмотреть в других файлах."

The puzzle was created by Andrey Valyaev on 27-Nov-17.

[2017-11-27 19:56] 0crat commented on #83
@dronmdf please, pay attention to this issue

[2017-11-27 19:58] #41 closed

[2017-11-27 20:19] 0crat commented on #48
Job `gh:dronmdf/telebot#48` is now out of scope.

[2017-11-27 20:19] 0crat commented on #41
Oops! There is no order for job `gh:dronmdf/telebot#41`.

[2017-11-27 20:19] 0crat commented on #41
Oops! Job `gh:dronmdf/telebot#41` is not in scope.

[2017-11-27 20:33] DronMDF commented on #83
@ocrat assign @sminux

[2017-11-27 20:39] 0crat commented on #48
Order was successfully finished: +30 points just awarded to @sminux, total is [+240](http://www.0crat.com/u/sminux).

[2017-11-27 21:10] 0pdd opened #85 "reaction.py:2-6: Это мешок с данными. Но этот класс..."
The puzzle `74-f3baff60` (from #74) in [`tb/sources/reaction.py`](https://github.com/DronMDF/telebot/blob/master/tb/sources/reaction.py) (lines 2-6) has to be resolved: "Это мешок с данными. Но этот класс может быть более ответственным за свои данные. В зависимости от того, какой сторедж - у экшина будет вызываться метод send, или метод save. В который будет передаваться интрефейс транспорта, или

[2017-11-27 21:11] 0crat commented on #85
@dronmdf please, pay attention to this issue

[2017-11-28 09:39] 0crat commented on #85
Job `gh:dronmdf/telebot#85` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 09:49] 0crat commented on #85
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+985](http://www.0crat.com/u/dronmdf).

[2017-11-28 10:01] 0pdd commented on #85
The puzzle `74-f3baff60` has disappeared from the source code, that's why I closed this issue.

[2017-11-28 10:01] #85 closed

[2017-11-28 10:19] 0crat commented on #85
Job `gh:dronmdf/telebot#85` is now out of scope.

[2017-11-28 10:40] 0crat commented on #85
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+1030](http://www.0crat.com/u/dronmdf).

[2017-11-28 10:49] DronMDF commented on #83
@0crat assign @sminux

[2017-11-28 10:49] DronMDF commented on #70
@0crat assign @sminux

[2017-11-28 10:51] 0crat commented on #70
@DronMDF Job `gh:dronmdf/telebot#70` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 10:53] 0crat commented on #70
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+1025](http://www.0crat.com/u/dronmdf).

[2017-11-28 10:58] DronMDF commented on #70
@0crat out

[2017-11-28 10:59] 0crat commented on #70
@DronMDF @sminux resigned from `gh:dronmdf/telebot#70`, since the job is not in scope anymore.

[2017-11-28 11:00] 0crat commented on #70
@DronMDF Job `gh:dronmdf/telebot#70` is now out of scope.

[2017-11-28 11:00] 0crat commented on #70
@DronMDF Oops! Job `gh:dronmdf/telebot#70` is not in scope.

[2017-11-28 12:28] DronMDF commented on #70
@0crat assign @sminux

[2017-11-28 12:29] DronMDF commented on #83
@0crat assign @sminux

[2017-11-28 12:38] 0crat commented on #70
@DronMDF Job `gh:dronmdf/telebot#70` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 12:56] DronMDF commented on #83
@0crat you are here?

[2017-11-28 12:57] 0crat commented on #70
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+1020](http://www.0crat.com/u/dronmdf).

[2017-11-28 12:57] 0crat commented on #83
@DronMDF Job `gh:dronmdf/telebot#83` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 12:58] DronMDF commented on #70
@sminux, Эту задачу я повесил для теста... Хочу, чтобы ты написал "@0crat refuse", спасибо.

[2017-11-28 12:58] 0crat commented on #70
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-11-28 12:59] 0crat commented on #83
@DronMDF Oops! Job `gh:dronmdf/telebot#83` is already assigned to @sminux, sorry.

[2017-11-28 12:59] 0crat commented on #83
@DronMDF Can't understand "you", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `version` Print current version of the bot

[2017-11-28 12:59] 0crat commented on #83
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+1010](http://www.0crat.com/u/dronmdf).

[2017-11-28 13:09] 0crat commented on #83
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+1010](http://www.0crat.com/u/dronmdf).

[2017-11-28 14:30] sminux commented on #70
@0crat refuse

[2017-11-28 14:48] 0crat commented on #70
@sminux @sminux resigned from `gh:dronmdf/telebot#70`, please stop working.

[2017-11-28 15:10] 0crat commented on #70
Job `gh:dronmdf/telebot#70` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 15:11] DronMDF commented on #70
@sminux Ага, спасибо, работает.

[2017-11-28 15:18] 0crat commented on #70
Oops! You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "0crat").

[2017-11-29 19:43] DronMDF opened #87 "Создать ReactionConcrete"
Эта реакция всегда будет на определенную фразу возвращать другую определенную фразу.

[2017-11-29 19:43] DronMDF opened #88 "Создать ReactionAlways"
Эта реакция на любую фразу отвечает одним и тем же.

[2017-11-29 19:45] DronMDF opened #89 "Создать реакцию, которая ограничивает доступ несанкционированных пользователей."
Эта реация должна из конфигурации подчитывать имя администратора, и передавать управление далее только для него.

[2017-11-30 20:01] DronMDF commented on #89
Имя пользователя можно проверить так:
update.effective_user.username
Правда написано, что оно опциональное. Возможно не у всех установлено?

[2017-12-01 20:49] 0crat commented on #87
Job `gh:dronmdf/telebot#87` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-01 20:59] 0crat commented on #87
Bug was reported: +15 points just awarded to @dronmdf, total is [+1020](http://www.0crat.com/u/dronmdf).

[2017-12-01 20:59] 0crat commented on #87
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+1020](http://www.0crat.com/u/dronmdf).

[2017-12-01 21:05] #87 closed

[2017-12-01 21:09] 0crat commented on #87
Job `gh:dronmdf/telebot#87` is now out of scope.

[2017-12-01 21:19] 0crat commented on #87
Order was successfully finished: +30 points just awarded to @dronmdf, total is [+1050](http://www.0crat.com/u/dronmdf).

[2017-12-03 12:58] 0crat commented on #83
@sminux this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-03 15:09] 0crat commented on #70
@dronmdf this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-03 20:02] 0crat commented on #89
Job `gh:dronmdf/telebot#89` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-03 20:08] 0crat commented on #89
Bug was reported: +15 points just awarded to @dronmdf, total is [+1060](http://www.0crat.com/u/dronmdf).

[2017-12-03 20:08] 0crat commented on #89
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+1060](http://www.0crat.com/u/dronmdf).

[2017-12-04 19:20] DronMDF commented on #88
@0crat assign @Michaelo0

[2017-12-04 20:18] 0crat commented on #88
@DronMDF Job `gh:dronmdf/telebot#88` assigned to @michaelo0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-04 20:39] 0crat commented on #88
Bug was reported: +15 points just awarded to @dronmdf, total is [+1070](http://www.0crat.com/u/dronmdf).

[2017-12-04 20:39] 0crat commented on #88
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @dronmdf, total is [+1070](http://www.0crat.com/u/dronmdf).

[2017-12-06 12:48] 0crat commented on #83
@sminux this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:49] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:50] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:50] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:50] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:52] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:52] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:52] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:52] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:52] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:52] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:52] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:53] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:28] 0crat commented on #70
@dronmdf this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-06 15:28] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:28] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:28] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:28] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 01:34] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 01:34] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-08 13:52] #89 closed

[2017-12-08 16:38] 0crat commented on #70
@dronmdf resigned from `gh:dronmdf/telebot#70`, please stop working.

[2017-12-09 14:59] 0crat commented on #70
Job `gh:dronmdf/telebot#70` assigned to @dronmdf, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-09 14:59] 0crat commented on #89
@dronmdf this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-11 16:00] 0crat commented on #88
@michaelo0 this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-12 15:06] 0crat commented on #89
@dronmdf this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-12 20:17] #88 closed

[2017-12-12 20:19] DronMDF opened #93 "Создать ReactionStatus"
Это будет реакция на команду status, она должна возаращать аптайм и размер свободного места на диске.

[2017-12-12 20:25] DronMDF opened #94 "Создать SoLowSpace"
Источник, отслеживающий количество свободного места на диске.
Но тут я вижу проблему в том, что нужно избавиться от дубликатов. Чтобы он не флудил в чат.
То есть надо как-то запомнить, когда мы отправляли уведомление и переодически повторять его.

[2017-12-13 16:49] 0crat commented on #88
@michaelo0 this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-13 20:09] 0crat commented on #89
@dronmdf resigned from `gh:dronmdf/telebot#89`, please stop working.

[2017-12-13 20:28] 0crat commented on #89
Job `gh:dronmdf/telebot#89` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-13 20:58] 0crat commented on #88
Job `gh:dronmdf/telebot#88` is now out of scope.

[2017-12-14 17:19] 0crat commented on #89
Job `gh:dronmdf/telebot#89` assigned to @michaelo0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-14 18:30] 0crat commented on #89
Order was successfully finished: +30 points just awarded to @michaelo0, total is [+150](http://www.0crat.com/u/michaelo0).

[2017-12-14 18:30] 0crat commented on #89
Job `gh:dronmdf/telebot#89` assigned to @sminux, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-14 18:49] 0crat commented on #89
Order was successfully finished: +30 points just awarded to @sminux, total is [+330](http://www.0crat.com/u/sminux).

[2017-12-18 20:31] 0pdd commented on #81
The puzzle `41-96ac84d5` has disappeared from the source code, that's why I closed this issue.

[2017-12-18 20:31] #81 closed

[2017-12-19 16:51] 0crat commented on #81
Oops! There is no order for job `gh:dronmdf/telebot#81`.

[2017-12-19 16:51] 0crat commented on #81
Oops! Job `gh:dronmdf/telebot#81` is not in scope.

[2017-12-27 13:59] #42 closed

[2017-12-27 13:59] #51 closed

[2017-12-27 13:59] #70 closed

[2017-12-27 13:59] #83 closed

[2017-12-27 13:59] #93 closed

[2017-12-27 13:59] #94 closed

[2017-12-27 14:02] 0crat commented on #93
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-27 14:02] 0crat commented on #94
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-27 14:02] 0crat commented on #42
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-27 14:02] 0crat commented on #93
Oops! Job `gh:dronmdf/telebot#93` was not in scope

[2017-12-27 14:02] 0crat commented on #94
Oops! Job `gh:dronmdf/telebot#94` was not in scope

[2017-12-27 14:02] 0crat commented on #42
Oops! Job `gh:dronmdf/telebot#42` was not in scope

[2017-12-27 14:12] 0crat commented on #51
Oops! Job `gh:dronmdf/telebot#51` was not in scope